<phpunit
    colors="true"
    stderr="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="PHP Device Detector Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/Data</directory>
        </whitelist>
    </filter>
</phpunit>
